CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
eolibConfig.cmake
eolibConfigVersion.cmake
eolibTargets.cmake
eolibTargets-*.cmake

code_gen
codegen.stamp

include/protocol.h
src/protocol.c

*.a
*.so
*.dll
*.dylib
*.o