CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
eolibConfig.cmake
eolibConfigVersion.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
eolibTargets.cmake
eolibTargets-*.cmake
.cmake

code_gen
eolib**tests
codegen.stamp

include/protocol.h
src/protocol.c
tests/packet_tests.c
tests/packet_tests.list

*.a
*.so
*.dll
*.dylib
*.o

docs/html
build

lua/src/lua_protocol.c
lua/src/lua_protocol.h
lua/eolib.d.lua

wasm/eolib.wasm
wasm/eolib.wasm.map
wasm/eolib.js
wasm/packets.js
wasm/wasm_protocol_dispatch.c